body{
  background-image: url("img/22406251_2014023725589339_7186360268860626617_n.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  opacity: 1;
  filter: alpha(opacity=100);
  font-family: 'Poiret One', cursive;
  text-align: center;
  margin-top: 200px;
  color: white;
  font-weight: bolder;
  font-size: 40px;
}
.bt{
  margin-left: 20px;
  width: 150px;
  margin-top: -5px !important;
  font-size: 35px;
  background: transparent;
  text-decoration: none;
  display: inline-block;
  border: 1px solid;
  border-color: white;
  transition: all 2s;
  cursor: pointer;
}
.bt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 2s;
}

.bt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 2s;
}

.bt:hover span {
  padding-right: 25px;
}

.bt:hover span:after {
  opacity: 1;
  right: 0;
}
.bt:hover{
  background-color: black;
}
footer{
  text-align: center;
  color: white;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  font-size: 18px;
  margin-top: 248px;
  background-color: black;
  padding: 10px 10px 10px 10px;
}
.ch{
  margin-right: 300px;
}
.fa-facebook-official{
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
  font-size: 25px !important;
}
.fa-instagram{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px !important;
  padding: 5px 5px 5px 5px;
}
.fa-twitter{
  margin-left: 10px;
  font-size: 25px !important;
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
}
.fa-youtube-play{
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
  font-size: 25px !important;
}
.fa-github{
  margin-right: -520px;
  margin-left: 10px;
  padding: 5px 5px 5px 5px;
  font-size: 25px !important;
}
.fa-facebook-official:hover{
  color: #365899;
  background: white;
}
.fa-instagram:hover{
  color: #bc2a8d;
  background: white;
}
.fa-twitter:hover{
  color: #1da1f2;
  background: white;
}
.fa-youtube-play:hover{
  color: #ff0000;
  background: white;
}
.fa-github:hover{
  background: white;
  color: black;
}
a{
  color:  white !important;
}
a:hover{
  color: black !important;
}
@media (min-width: 1111px) and (max-width: 1125px){
  .ch{
    margin-right: 200px;
  }
  .fa-facebook-official{
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-instagram{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px !important;
    padding: 5px 5px 5px 5px;
  }
  .fa-twitter{
    margin-left: 10px;
    font-size: 25px !important;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
  }
  .fa-youtube-play{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-github{
    margin-right: -420px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
}
@media (min-width: 1090px) and (max-width: 1110px){
  .ch{
    margin-right: 190px;
  }
  .fa-facebook-official{
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-instagram{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px !important;
    padding: 5px 5px 5px 5px;
  }
  .fa-twitter{
    margin-left: 10px;
    font-size: 25px !important;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
  }
  .fa-youtube-play{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-github{
    margin-right: -410px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
}
@media (min-width: 1070px) and (max-width: 1089px){
  .ch{
    margin-right: 180px;
  }
  .fa-facebook-official{
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-instagram{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px !important;
    padding: 5px 5px 5px 5px;
  }
  .fa-twitter{
    margin-left: 10px;
    font-size: 25px !important;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
  }
  .fa-youtube-play{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-github{
    margin-right: -400px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
}
@media (min-width: 1050px) and (max-width: 1069px){
  .ch{
    margin-right: 170px;
  }
  .fa-facebook-official{
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-instagram{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px !important;
    padding: 5px 5px 5px 5px;
  }
  .fa-twitter{
    margin-left: 10px;
    font-size: 25px !important;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
  }
  .fa-youtube-play{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-github{
    margin-right: -390px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
}
@media (min-width: 1020px) and (max-width: 1049px){
  .ch{
    margin-right: 150px;
  }
  .fa-facebook-official{
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-instagram{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px !important;
    padding: 5px 5px 5px 5px;
  }
  .fa-twitter{
    margin-left: 10px;
    font-size: 25px !important;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
  }
  .fa-youtube-play{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-github{
    margin-right: -370px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
}
@media (min-width: 990px) and (max-width: 1019px){
  .ch{
    margin-right: 130px;
  }
  .fa-facebook-official{
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-instagram{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px !important;
    padding: 5px 5px 5px 5px;
  }
  .fa-twitter{
    margin-left: 10px;
    font-size: 25px !important;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
  }
  .fa-youtube-play{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-github{
    margin-right: -350px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
}
@media (min-width: 910px) and (max-width: 989px){
  .ch{
    margin-right: 90px;
  }
  .fa-facebook-official{
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-instagram{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px !important;
    padding: 5px 5px 5px 5px;
  }
  .fa-twitter{
    margin-left: 10px;
    font-size: 25px !important;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
  }
  .fa-youtube-play{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-github{
    margin-right: -310px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
}
@media (min-width: 830px) and (max-width: 909px){
  .ch{
    margin-right: 50px;
  }
  .fa-facebook-official{
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-instagram{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px !important;
    padding: 5px 5px 5px 5px;
  }
  .fa-twitter{
    margin-left: 10px;
    font-size: 25px !important;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
  }
  .fa-youtube-play{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-github{
    margin-right: -270px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
}
@media (min-width: 780px) and (max-width: 829px){
  .ch{
    margin-right: 50px;
  }
  .fa-facebook-official{
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-instagram{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px !important;
    padding: 5px 5px 5px 5px;
  }
  .fa-twitter{
    margin-left: 10px;
    font-size: 25px !important;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
  }
  .fa-youtube-play{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-github{
    margin-right: -230px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
}
@media (min-width: 719px) and (max-width: 779px){
  .ch{
    margin-right: 50px;
  }
  .fa-facebook-official{
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-instagram{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px !important;
    padding: 5px 5px 5px 5px;
  }
  .fa-twitter{
    margin-left: 10px;
    font-size: 25px !important;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
  }
  .fa-youtube-play{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-github{
    margin-right: -170px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
}
@media (min-width: 660px) and (max-width: 718px){
  .ch{
    margin-right: 40px;
  }
  .fa-facebook-official{
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-instagram{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px !important;
    padding: 5px 5px 5px 5px;
  }
  .fa-twitter{
    margin-left: 10px;
    font-size: 25px !important;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
  }
  .fa-youtube-play{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
  .fa-github{
    margin-right: -130px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 25px !important;
  }
}
@media (min-width: 602px) and (max-width: 659px){
  .ch{
    margin-right: 20px;
  }
  .fa-facebook-official{
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 20px !important;
  }
  .fa-instagram{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px !important;
    padding: 5px 5px 5px 5px;
  }
  .fa-twitter{
    margin-left: 10px;
    font-size: 20px !important;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
  }
  .fa-youtube-play{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 20px !important;
  }
  .fa-github{
    margin-right: -90px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 20px !important;
  }
  footer{
    height: 65px;
  }
}
@media (min-width: 468px) and (max-width: 601px){
  footer a{
    display: none;
  }
  footer{
    height: 65px;
  }
  .ch{
    margin-right: 0;
  }
}
@media (min-width: 254px) and (max-width: 467px){
  footer a{
    display: none;
  }
  header{
    height: 139px;
  }
  footer{
    height: 50px;
  }
  .ch{
    margin-right: 0;
  }
}
@media (max-width: 253px){
  footer a{
    display: none;
  }
  header{
    height: 134px;
  }
  footer{
    height: 55px;
    font-size: 17px;
  }
  .ch{
    margin-right: 0;
  }
}
@media (max-width: 241px){
  .bt{
    margin-left: 0;
  }
  footer a{
    display: none;
  }
  header{
    height: 120px;
  }
  footer{
    height: 69px;
    font-size: 17px;
  }
  .ch{
    margin-right: 0;
  }
}
@media (max-width: 169px){
  .st{
    font-size: 25px;
  }
  .bt{
    font-size: 25px;
    margin-left: 0;
  }
  footer a{
    display: none;
  }
  header{
    height: 110px;
  }
  footer{
    height: 79px;
    font-size: 15px;
  }
  .ch{
    margin-right: 0;
  }
}
